@if(topEvent != null){
<section class="mt-12 max-w-6xl mx-auto px-4">
  <div class=" flex-between font-bold items-center my-2">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Upcoming Event</h2>
    <div class=" flex-center gap-2">
      <button class=" black_btn" [routerLink]="[this.router.url, 'events']">View All Events</button>
      @if(role == 'Manager'){
          <button class=" outline_btn" [routerLink]="[this.router.url,'events','add']">Add Event</button>
      }
    </div>
  </div>
  @if (topEvent(); as event) {
  <div class=" prompt-card bg-white rounded-xl drop-shadow-lg p-6 mb-6">
    <div class=" flex-between">
      <div class=" w-128 h-64 flex flex-col gap-2 justify-evenly items-start">
        <div class=" flex-start gap-4">
          <h3 class="text-4xl font-bold orange_gradient">{{ event.title }}</h3>
          @if(isCancelled(event)){
          <h3 class="text-xl text-red-500">( Cancelled )</h3>
          }
          @else {
            <h3 class=" text-xl logo_text capitalize text-red-800 mt-2 "> (Trending Event)</h3>
          }
        </div>
        <p class="text-gray-600 mt-2">{{ event.description }}</p>

        <p class="text-sm mt-1 text-gray-400">
          📅 Date: {{ event.eventDate | date: 'medium' }}
        </p>
        <p class="text-sm mt-1 text-gray-400">
          Location : {{event.location}} | Category : {{event.category}}
        </p>

        <div class="mt-4">
          <h4 class="font-semibold mb-2 text-orange-600">Ticket Types:</h4>
          <ul class="text-sm flex flex-col gap-1.5">
            @for (ticket of event.ticketTypes; track ticket.id) {
            <li class="text-gray-700">
              <span class="font-medium">{{ ticketTypeToString(ticket.typeName) }} </span> |
              ₹{{ ticket.price }} |
              Available: {{ ticket.totalQuantity - ticket.bookedQuantity }}
            </li>
            }
          </ul>
        </div>
      </div>
      <div class=" w-128 h-64">
        @if(event.images.length){
        <img [src]="`http://localhost:5279/api/v1/eventimage/download/${((event.images) ?? [])[0]}`" alt="event image"
          class="w-full h-full object-cover rounded-lg" />
        }
        @else {
        <div class=" bg-gray-500 w-full h-full">
        </div>
        }
      </div>
    </div>
    <button class="mt-4 black_btn w-full" [routerLink]="[this.router.url,'events',event.id]">View Details</button>
  </div>
  }
  @else {
  <p class="text-gray-400">No upcoming events found.</p>
  }

</section>
}
