<!-- <section class="max-w-6xl mx-auto px-4 mt-4">
  @if (images()?.length > 0) {
  <div class="relative w-full h-[440px] overflow-hidden rounded-xl shadow-md">
    <div class="flex transition-transform duration-700 ease-in-out"
      [style.transform]="'translateX(-' + (getCurrentIndex() * 100) + '%)'">
      @for (img of images(); track img.id) {
      <div class="min-w-full h-full">
        <img [src]="'http://localhost:5279/api/v1/eventimage/download/' + img.id"
          class="w-full h-full object-cover rounded-xl" alt="event image" (click)="routeToEvent(img)" />
      </div>
      }
    </div>
  </div>
  } @else {
  <div class="w-full h-[360px] flex items-center justify-center text-gray-400 bg-gray-200 rounded-xl shadow-inner">
    <p class="text-lg font-medium">[ Upcoming Events Slider Coming Soon ]</p>
  </div>
  }
</section> -->

<app-slider></app-slider>
<!-- <section class="max-w-6xl mx-auto px-4 mt-2">
  <div class=" flex-between">
    <h2 class="orange_gradient text-2xl font-semibold mb-4 mt-4">Upcoming Event</h2>
    <button class="outline_btn" [routerLink]="[this.router.url, 'events']">View All Events</button>
  </div>
  @if (topEvent(); as event) {
  <div class=" prompt-card bg-white rounded-xl drop-shadow-lg p-6 mb-6">
    <div class=" flex-between">
      <div class=" w-128 h-64 flex flex-col gap-2 justify-evenly items-start">
        <div class=" flex-start gap-4">
          <h3 class="text-4xl font-bold orange_gradient">{{ event.title }}</h3>
          @if(isCancelled(event)){
          <h3 class="text-xl text-red-500">( Cancelled )</h3>
          }
        </div>
        <p class="text-gray-600 mt-2">{{ event.description }}</p>

        <p class="text-sm mt-1 text-gray-400">
          📅 Date: {{ event.eventDate | date: 'medium' }}
        </p>
        <p class="text-sm mt-1 text-gray-400">
          Location : {{event.location}} | Category : {{event.category}}
        </p>

        <div class="mt-4">
          <h4 class="font-semibold mb-2 text-orange-600">Ticket Types:</h4>
          <ul class="text-sm flex flex-col gap-1.5">
            @for (ticket of event.ticketTypes; track ticket.id) {
            <li class="text-gray-700">
              <span class="font-medium">{{ ticketTypeToString(ticket.typeName) }} </span> |
              ₹{{ ticket.price }} |
              Available: {{ ticket.totalQuantity - ticket.bookedQuantity }}
            </li>
            }
          </ul>
        </div>
      </div>
      <div class=" w-128 h-64">
        @if(event.images.length){
        <img [src]="`http://localhost:5279/api/v1/eventimage/download/${((event.images) ?? [])[0]}`" alt="event image"
          class="w-full h-full object-cover rounded-lg" />
        }
        @else {
        <div class=" bg-gray-500 w-full h-full">
        </div>
        }
      </div>
    </div>
    <button class="mt-4 black_btn w-full" (click)="GetEventById(event)">View Details</button>
  </div>
  }
  @else {
  <p class="text-gray-400">No upcoming events found.</p>
  }
</section> -->

<app-top-event [topEvent]="topEvent"></app-top-event>

<section class="p-6 mt-4">
  <div class=" mb-4 flex justify-around items-center">
    <h2 class="text-2xl font-semibold orange_gradient mr-16">All Users</h2>
    <button [routerLink]="['./add-admin']" class=" black_btn">Add Admin</button>
  </div>

  <div class="max-w-5xl mx-auto bg-white rounded-xl shadow-lg overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200 text-sm text-left">
      <thead class="bg-gray-100 text-gray-600 uppercase text-xs tracking-wider">
        <tr>
          <th class="px-4 py-3 rounded-tl-xl">Username</th>
          <th class="px-4 py-3">Email</th>
          <th class="px-4 py-3">Role</th>
          <th class="px-4 py-3 text-center">Deleted</th>
          <th class="px-4 py-3 text-center rounded-tr-xl">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100">
        @for (user of users(); track user.email) {
        <tr [ngClass]="{
              'bg-red-50 text-gray-400': user.isDeleted,
              'hover:bg-gray-50 transition': !user.isDeleted
            }">
          <td class="px-4 py-4 font-medium text-gray-800">{{ user.username }}</td>
          <td class="px-4 py-4 text-gray-700">{{ user.email }}</td>
          <td class="px-4 py-4">{{ user.role }}</td>
          <td class="px-4 py-4 text-center">
            <span [ngClass]="{
                  'text-red-500 font-semibold': user.isDeleted,
                  'text-green-600 font-medium': !user.isDeleted
                }">
              {{ user.isDeleted ? 'Yes' : 'No' }}
            </span>
          </td>
          <td class="px-4 py-4 text-center flex-center">
            @if(user.role == 'Admin'){
            <span class="orange_gradient text-sm">No Action for Admin</span>
            }@else {
            @if (!user.isDeleted) {
            <button class="outline_btn px-3 py-1" (click)="deleteUser(user)">
              Delete
            </button>
            } @else {
            <span class="text-red-500 text-sm">Already Deleted</span>
            }
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>