<h1 class="cart-title">Cart!</h1>

<div class="container py-4" *ngIf="cart.length > 0; else emptyCart">
  <form [formGroup]="cartForm" (ngSubmit)="updateCart()">
    <table class="table table-bordered shopping-cart">
      <thead>
        <tr class="table-header text-center">
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Sub Total</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of cart; track item.product?.productId) {
          <tr class="align-middle">
            <td>
              <a [routerLink]="['/home/product', item.product?.productId]" class="product-link">
                {{ item.product?.productName }}
              </a>
            </td>
            <td>${{ item.product?.price | number:'1.0-0' }}</td>
            <td>
              <input
                type="number"
                [formControlName]="'quantity-' + item.product?.productId"
                min="1"
                class="input-quantity"
              />
            </td>
            <td>
              ${{ (item?.product?.price ?? 0) * item.quantity | number:'1.0-0' }}
            </td>
            <td>
              <button type="button" class="btn-delete" (click)="removeFromCart(item.product!.productId)">
                Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-end total-label">Total:</td>
          <td colspan="2" class="total-value">
            ${{ getTotal() | number:'1.0-0' }}
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="cart-actions">
      <div class="action-buttons">
        <button type="button" class="btn btn-warning" (click)="updateCart()">Update Cart</button>
        <button type="button" class="btn btn-success" (click)="checkout()">Checkout With COD</button>
        <button type="button" class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
        <app-paypall-button [cash]="getTotal()"></app-paypall-button>
      </div>
    </div>
  </form>
</div>

<ng-template #emptyCart>
  <div class="empty-cart">
    <h4>No items in your cart!!!</h4>
    <a [routerLink]="['/home']" class="btn btn-warning">Start Shopping</a>
  </div>
</ng-template>
