<div class="main">
    <div class="gradient"></div>
</div>
@if(user()){
    <nav class="flex-between w-full px-6 z-10 relative custom-shadow h-[100px]">
        <div class="flex items-center gap-2">
            <a class="logo_text text-2xl orange_gradient" routerLink="/user">Eventify</a>
        </div>

        <div class="flex gap-5">
            <p class="logo_text text-2xl orange_gradient">Hi {{user()?.username}}!</p>
            <a [routerLink]="['profile']" class="black_btn">Profile</a>
            <a (click)="logout()" class="outline_btn">Logout</a>
        </div>
    </nav>
}