<div class="main">
  <div class="gradient"></div>
</div>
<nav class="flex-between w-full pt-6 px-6 z-10 relative">
  <div class="flex items-center gap-2">
    <span class="logo_text text-2xl orange_gradient">Eventify</span>
  </div>
  <div class="flex gap-4">
    <a routerLink="/login" class="black_btn">Login</a>
    <a routerLink="/register" class="outline_btn">Register</a>
  </div>
</nav>

<section class="app text-center">
  <h1 class="head_text orange_gradient">Welcome to Eventify</h1>
  <p class="desc">
    Discover and manage the best events around you. Join as a user or an event manager to explore more.
  </p>
</section>

<app-slider></app-slider>

<section class="app text-center mt-16">
  <div class="desc bg-gradient-to-r from-orange-100 to-orange-100 rounded-xl shadow-lg p-8 inline-block">
    <h2 class="text-2xl font-bold text-orange-600 mb-2">Your gateway to concerts, games, and more.</h2>
    <p class="text-lg text-gray-700">One app. <span class="font-semibold text-orange-800">Every ticket.</span> Anytime.</p>
  </div>
</section>

<footer class="text-center text-sm text-orange-600 mt-16 z-10 -bottom-[700px]">
  © 2025 Eventify. All rights reserved.
</footer>